.details{
      background-size: cover;
      color: white;
}
.overlay {
    padding: 40px 0;
    background: rgba(55, 111, 137, .65);
}
.details__poster {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
}
.details__year {
    color: #ffffff;
    opacity: .6;
    font-size: .8em;
}
.details__at-a-glance {
    font-size: 22px;
}
.details__tagline {
    font-size: 26px;
    font-weight: normal;
    opacity: .6;
    margin-bottom: 26px;
}
.details__genre {
    font-weight: normal;
    color: #313131;
    font-size: 16px;
    background: #fff;
    margin-right: 4px;
    padding: 3px 9px;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    margin-bottom: 5px;
}
@media only screen and (min-width : 480px){
.crew {
    width: 50%;
    float: left;

}
.crew:nth-child(2n):after{
    content:"";
    display: block;
    clear: both;
}
}
.crew__name {
    font-size: 18px;
    margin-bottom: 0;
}
.crew__job {
    margin-bottom: 10px;
    display: block;
}
