header {
    background: #313131;
    padding-top: 10px;
    padding-bottom: 30px;
    z-index:2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
body {
    background: #ddd;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
h1 {
    font-weight: bold;
}
.powered {
    float: left;
    font-size: 20px;
    color: #00d373;
    font-weight: bold;
    padding-top: 7px;
}
.movie-db-logo{
    width: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.movie-db-logo:after{
    content: '';
    clear: both;
    display: block;
}